.container-pg{
    height: 100vh;
    background-image: url("../../assets/capaInicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.container-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-menu{
    height: 15vh;
    width: 80%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.header-msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 85vh;
    
}
.logoImg{
    width: 80px;
    margin-left: 20px;
}
.beColaborador-top{
    cursor: pointer;
    margin-right: 20px;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    color: white;
}
.beColaborador-top:hover{
  color: #c0c0c0;
  transition: 0.7s;
}
.text-Slogan{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 25pt;
    margin: 25vh 10px 15vh 10px;
}
.button{
    width: 30%;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 15pt;
    font-weight: bold;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #E7E7E7;
}


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 150px;
	
}
.Menu-Top{
  display: flex;
  flex-direction: row;
}

.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@media screen and (max-width: 768px) {
    .header-menu{
        height: 15vh;
        width: 100%;
        padding: 0;}
    .button{
        width:80%;
        border-radius: 15px;
        padding: 15px;
    }
    
    .mouse_scroll{
        margin-top: 5px;
    }
  }