.containerPost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
.containerPost h4{
    color: #0F5045;
}
.menuPost{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    background-color: #0F5045;
    color: white;
    padding: 0 5%;
    background-image: url('../../assets/topographic.png');
    background-repeat: no-repeat;
    background-size: 180% auto;
}
.logoBlog{
    width: 60px;
}
.Postcontent{
    display: flex;
    flex-direction: column;
    padding: 15px 5%;
}
.titlePost{
    text-align: left;
    color: #0F5045;
}
.CapaPost{
    width: 100%;
    margin: 10px 0;
}

.textPost{
    text-align:justify;
    font-size: 12pt;
    margin: 10px 0;
}
.subtitlePost{
    margin-top: 15px;
}
.Demo__some-network__share-button{
    margin-right: 5px;
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
    .menuPost{
        padding: 0 20%;
    }
    .logoBlog{
        width: 80px;
    }
    .Postcontent{
        padding: 20px 25%;
    }
    .titlePost{
        font-size: 24pt;
    }
    .textPost{
        font-size: 14pt;
    }
    .subtitlePost{
        font-size: 16pt;
        margin-top: 25px;
    }
}