[submodule "frontend"]
	path = frontend
	branch = main
	url = https://github.com/joaomiiiguel/aventurei-front

[submodule "backend"]
	path = backend
	branch = main
	url = https://github.com/joaomiiiguel/aventurei-back