.containerCadColab{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../../assets/rapel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.titleLogin{
    margin-top: 20%;
}

.RigthContent{
    width: 30vw;
    height: 90vh;
    margin: auto 10%;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
.backHome{
    display: flex;
    align-items: center;
    color: #0F5045;
    text-decoration: none;
    padding-top: 5%;
    padding-left: 2%;
}
.formCadast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo-Login{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 15px;
}
.logoImgCor{
    width: 120px;
}

.formContent{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.formContent input, textarea{
    margin-top: 10px;
    padding: 12px;
    background: white;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoCadast{
    color: #0F5045 ;
    font-size: 10pt;
    margin: 2% auto;
}
.infoTitle{
    color: #0F5045 ;
    font-size: 12pt;
    margin: 5% auto;
    font-weight: bold;

}
.input-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.input-group input{
    width: 100%;
}
.input-group input + input{
    margin-left: 8px;
    width: 40%;
}
.button-Cad{
    margin-top: 8px;
    background-color: #0F5045;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    transition-duration: 0.4s;
}
.button-Cad:hover{
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 768px){
    
    .RigthContent{
        width: 100vw;
        height: 100vh;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
    .formContent input{
        padding: 2%;
    }
    .logoImgCor{
        
        width: 25%;
    }
}