.container-About{
    height: 40vh;
    background-image: url("../../../assets/aboutUs.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.textAbout{
    width: 50%;
    margin: 20px 0;
    font-size:11pt;
}
@media screen and (max-width: 768px) {
    .container-About{
        height: 50vh;
        background-image: url("../../../assets/aboutUsM.jpg");
        background-size: auto 100% ;
        background-position: top left;
    }
    .textAbout{
        width: 90%;
    }
}