* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: content-box;
}

.container-ListAdv {
    background-color: white;
}
ul{
    padding: 0;
    width: 100%;
}

.buscaAventura {
    color: white;
    height: auto;
    background-color: #0F5045;
    padding: 50px 10%;
    background-image: url('../../../assets/topographic.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}
.contanierBuscar{
    display: flex;
    flex-direction: row;
}
.Advsearch {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 40px;
    background-color: white;
    color: #0F5045;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.tituloBranco{
    font-size: 18pt;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.TextSearch {
    margin-left: 20px;
    color: #0F5045;
    width: 100%;
}

.searchIcon {
    margin-right: 20px;
    cursor: pointer;
}

.FilterLocalWeb {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.FilterLocalWeb>a:hover {
    color: #0F5045;
    font-weight: 700;
}

.FilterLocalMobile {
    background-color: royalblue;
    padding: 5px 15px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
}

.formBottom{
    width: 15%;
    margin-left: 10px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.custom-select {
    color: grey;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 38px;
  }
 
 

.MenuList {
    width: 100%;
}

.listaAventura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;
    
}

.bottonCard {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    border-radius: 10px;
}

.localAdventure {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}
.precoHead{
    margin-right: 20px;
}
.titleLocal{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.ModalContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    color:#083a32;
    padding: 2% 5%;
}
.imgCapa{
    width: 50%;
    height: auto;
}

.containerLocal{
    background-color: white;
    border-radius: 15px;
    
}
.localInfos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}
.nivelAcesso{
    text-align: center;
}
.cardAcesso{
    display:flex; 
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 5px;
}
.descricaoLugar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    margin-top: 15px;
}
.colaboradorContainer{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;

}
.likeLocal{
    display: flex;
    color: #0F5045;
    text-decoration: none;
}
.avaliacaoLocal{
    display: flex;
    flex-direction: column;
}

.carouselFotos{
    margin: 15px 0;
}
.btnBack{
    cursor: pointer;
    z-index: 200;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 5px;
}
.btnBack:hover{
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s;
}
.PhotoThumb{
    border-radius: 10px;
    margin-right: 10px;
    width: 40%;
}
@media screen and (max-width: 1100px) {
    .listaAventura{
        justify-content: space-around;
    }
    
}
@media screen and (max-width: 768px) {
    .buscaAventura {
        padding: 50px 10px;
        background-image: url('../../../assets/topographic.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .listaAventura {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        
    }
    .Advsearch {
        width: 100%;
    }
    
    .formBottom{
        width: 100%;
        margin-left: 0px;
    }
    .ModalContainer {
        margin: 0;
        width: 90%;
        height: 100vh;
    }
    
}