* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: content-box;
}

.container-ListAdv {
    background-color: white;
}
ul{
    padding: 0;
    width: 100%;
}

.buscaAventura {
    color: white;
    height: auto;
    background-color: #0F5045;
    padding: 50px 10%;
    background-image: url('../../../assets/topographic.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}
.contanierBuscar{
    display: flex;
    flex-direction: row;
}
.Advsearch {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 40px;
    background-color: white;
    color: #0F5045;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.tituloBranco{
    font-size: 18pt;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.TextSearch {
    margin-left: 20px;
    color: #0F5045;
    width: 100%;
}

.searchIcon {
    margin-right: 20px;
    cursor: pointer;
}

.FilterLocalWeb {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.FilterLocalWeb>a:hover {
    color: #0F5045;
    font-weight: 700;
}

.FilterLocalMobile {
    background-color: royalblue;
    padding: 5px 15px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
}

.formBottom{
    
    margin-left: 10px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.custom-select {
    color: grey;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
  }
 
 

.MenuList {
    width: 100%;
}

.listaAventura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;
    
}

.bottonCard {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    border-radius: 10px;
}

.localAdventure {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}
.precoHead{
    margin-right: 20px;
}
.titleLocal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ModalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    color:#083a32;
}
.imgCapa{
    border-radius: 15px;
    height: 50vh;
    margin-top: -30px;
}

.titleLocal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.containerLocal{
    background-color: white;
    margin-top: -20%;
    border-radius: 15px;
    padding: 2% 5%;
}
.localInfos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}
.nivelAcesso{
    text-align: center;
}
.cardAcesso{
    display:flex; 
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 5px;
}
.descricaoLugar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    text-align: justify;
}
.colaboradorContainer{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;

}
.likeLocal{
    display: flex;
    color: #0F5045;
    text-decoration: none;
}
.avaliacaoLocal{
    display: flex;
    flex-direction: column;
}
.imgBoxLocal{
    width: 200px;
    height: 150px;
    background-color: teal;
    margin: 5px 5px 5px 0px
}
.carouselFotos{
    margin: 15px 0;
}
.btnBack{
    cursor: pointer;
    z-index: 200;
}
@media screen and (max-width: 1100px) {
    .listaAventura{
        justify-content: center;
    }
    
}
@media screen and (max-width: 768px) {
    .buscaAventura {
        padding: 50px 10px;
        background-image: url('../../../assets/topographic.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    .Advsearch {
        width: 100%;
    }
    
    .formBottom{
        margin-left: 0px;
    }
    .ModalContainer {
        width: 100%;
        height: 100vh;
    }
    .contanierBuscar{
        display: flex;
        flex-direction: column;
    }
    .local-Aventura{
        width: 100%;
        padding: 0;
    }
    .header-menuLocal{
        width: 100%;
        padding: 0;
    }
    .titleLocal{
        padding: 0 2%;
    }
    .likeLocalTxt{
        display: none;
    }
    .carouselFotos{
        width: 100%;
    }
    .localInfos{
        margin-bottom: 5%;
    }
    .descricaoLugar{
        padding: 5% 3%;
    }
    .colaboradorContainer{
        padding: 5% 3%;
    }
    .containerLocal{
        width: 100vw;
        padding: 0;
    }
    .imgCapa{
        height: 40vh;
    }
    
}