.containerDicas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 10%;
    width: 80%;
    border-top: 1px solid #CFCFCF;
    
}
.titulo{
    font-size: 18pt;
    color: black;
}
.containerDicasCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardDicas{
    width: 30%;
    margin: 20px 0;
}
.imgCardDicas{
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 768px) {
    .containerDicasCard{
        flex-direction: column;}
    .cardDicas{
        width: 100%;
    }
}