.local-Aventura{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    padding: 0 10%;
    color:#0F5045;
}
.local-Aventura p, h2{
    color:#0F5045;
}
.header-menuLocal{
    height: 15vh;
    width: 80%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0 0 10px grey;
    background-color: #0F5045;
    background-image: url('../../assets/topographic.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.titleLocal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carouselFotos{
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}
.localInfos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nivelAcesso{
    text-align: center;
}
.cardAcesso{
    display:flex; 
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 5px;
}
.boxAcesso{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.descricaoLugar{
    padding: 3% 0;
    text-align: justify;
}
.btRota{
    width: 80%;
    margin: 3% auto;
}
.colaboradorContainer{
    display: flex;
    align-items: center;
    margin-bottom: 5%;

}
.avatarColab{
    width: 60px;
    height: 60px;
    background-color: #0F5045;
    margin: 5px;
    border-radius: 50%;
}
.likeLocal{
    display: flex;
    color: #0F5045;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .local-Aventura{
        width: 100%;
        padding: 0;
    }
    .header-menuLocal{
        width: 100%;
        padding: 0;
    }
    .titleLocal{
        padding: 0 2%;
    }
    .likeLocalTxt{
        display: none;
    }
    .carouselFotos{
        width: 100%;
    }
    .localInfos{
        margin-bottom: 5%;
    }
    .descricaoLugar{
        padding: 5% 3%;
    }
    .comoChegar{
        padding: 5% 3%;
    }
}