*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-ListAdv{
    height: 100vh;
    background-color: white;
    
}

.buscaAventura{
    color: white;
    height: auto;
    background-color: #0F5045;
    padding: 50px 20px;
}
.Advsearch{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #0F5045;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.TextSearch{
    margin-left: 20px;
    color: #0F5045;
}
.searchIcon{
    margin-right: 20px;
    cursor: pointer;
}
.FilterLocalWeb{
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.FilterLocalWeb > a:hover{
    color: #0F5045;
    font-weight: 700;
}
.FilterLocalMobile{
    background-color: royalblue;
    padding: 5px 15px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
}
.TitleFilter{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.MenuList{
    width: 100%;
}
.listaAventura{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}
.cardAdventure{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #CCC;
    width: 23%;
    height: 450px;
    align-items: center;
    border-radius: 20px;
    background-image: url('../../../assets/cachoeira-do-roncador.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% auto;

}