* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: content-box;
}

.container-ListAdv {
    background-color: white;
   
    
}

.buscaAventura {
    color: white;
    height: auto;
    background-color: #0F5045;
    padding: 50px 10%;
    background-image: url('../../../assets/topographic.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}

.Advsearch {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 40px;
    background-color: white;
    color: #0F5045;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.tituloBranco{
    font-size: 18pt;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.TextSearch {
    margin-left: 20px;
    color: #0F5045;
    width: 100%;
}

.searchIcon {
    margin-right: 20px;
    cursor: pointer;
}

.FilterLocalWeb {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.FilterLocalWeb>a:hover {
    color: #0F5045;
    font-weight: 700;
}

.FilterLocalMobile {
    background-color: royalblue;
    padding: 5px 15px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
}

.formBottom{
    width: 15%;
    margin-left: 10px;
    align-items: center;
    margin-top: 20px;
    
}

.custom-select {
    padding: 8px 12px;
    color: grey;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
  }
 
 

.MenuList {
    width: 100%;
}

.listaAventura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;
    
}

.cardAdventure {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-width: 23%;
    height: 50vh;
    width: 20%;
    border-radius: 20px;
    background-image: url('../../../assets/cachoeira-do-roncador.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    justify-content: space-between;
}


.cardAdventure>h1,
h2,
h4,
p {
    color: white
}

.headerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.bottonCard {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    border-radius: 20px;
}

.localAdventure {
    display: flex;
    flex-direction: row;
    margin: 5px 0 15px 5px;
}
.precoHead{
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .buscaAventura {
        padding: 50px 10px;
        background-image: url('../../../assets/topographic.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    .Advsearch {
        width: 80%;
    }
    .formBottom{
        width: 20%;
    }
    .cardAdventure {
        margin-bottom: 30px;
        width: 100%;
    }
}