.FuncContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    width: 80%;
    margin: 5% auto;
    color:#0F5045;
    font-family: 'Roboto', sans-serif;
}

p{
    font-weight: 400;
}
.CardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    
    color:#0F5045;
}
.CardComoFun{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15px;
    justify-content: space-around;
    text-align: left;
    width: 30%;
}
.titleCardComo{
    margin-top: 10px;
    
}
.imgComoFunc{
    height: 20vh;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .FuncContainer{
        width: 90%;
        align-items: center;
        margin: 10% auto;
    }
    .CardContainer{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    .CardComoFun{
        width: 80%;
        text-align: center;
    }
    
}